# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest cache
.pytest_cache/

# Environment variables
.env

# IDE
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
